<p>
  <strong>Bulan:</strong>
  <%= @period.bulan %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @period.tahun %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
