<div class='container'>
  <div class="row">
         <div class="col-xs-12 visible-xs">
           <p class="yayasan" align='center'>YAYASAN PERGURUAN TINGGI KARYA DHARMA PUSAT MAKASSAR</p>
         </div>
         <div class="col-xs-12 visible-xs">
           <p align='center'>
              <%= image_tag("logoeditupri.png", class: "logo")  %>
           </p>
         </div>
         <div class="col-xs-12 visible-xs">
           <p class="yayasan" align='center'>SISTEM INFORMASI MANAJEMEN</p>
           <p class="yayasan" align='center'>2016/2017</p>
         </div>
         <br>
  </div>
  <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
              <h3 class="lead visible-sm visible-md visible-lg" align="center">YAYASAN PERGURUAN TINGGI KARYA DHARMA PUSAT MAKASSAR</h3>
          </div>
         <div class="col-xs-12 col-sm-12 col-md-12 visible-sm visible-md visible-lg" align="center">
                 <%= image_tag("logoeditupri.png", class: "logo")  %>
                 <br />

         </div>
         <div class="col-xs-12 col-sm-12 col-md-12">
             <h3 class="lead visible-sm visible-md visible-lg" align="center">SISTEM INFORMASI MANAJEMEN</h3>
             <h3 class="lead visible-sm visible-md visible-lg" align="center">2016/2017</h3>
         </div>
  </div>

</div>
