<div class='container'>
  <div class="row">
         <div class="col-xs-12 visible-xs">
           <p class="yayasan"><center>YAYASAN PERGURUAN TINGGI KARYA DHARMA PUSAT MAKASSAR</center></p>
            <%= image_tag("logoeditupri.png", size: "147x230", class: "logo", align: "center")  %>
            <br>
         </div>
  </div>
  <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 visible-sm visible-md visible-lg" align="center">
                 <%= image_tag("logoeditupri.png", class: "logo")  %>
                 <br />
                 
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12">
             <h4 class="lead visible-sm visible-md visible-lg" align="center">YAYASAN PERGURUAN TINGGI KARYA DHARMA PUSAT MAKASSAR</h4>
         </div>
  </div>

</div>
