<div class='container'>
  <div class='row'>
    <h3 class='lead'>Rincian Gaji Dan Kinerjanya</h3>
    <table class='table table-hover table-bordered table-striped'>
      <thead>
        <tr>
          <th>Nomor Slip Gaji</th>
          <th>Dosen</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <% @salaries.each do |salary| %>
          <tr>
            <td><%= salary.form_number.upcase %></td>
            <td><%= link_to salary.lecture.nama.upcase, salary rescue nil %></td>
            <td><%= "#{number_to_currency(salary.total, precision:0, unit:"Rp     ")}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>
