<div class='container'>
  <div class='row'>
    <h3 class='lead'>Rincian Golongan Dan Tunjangannya Berdasarkan Peraturan Pemerintah No 30 Tahun 2015&nbsp;&nbsp;<%= link_to 'Tambah Golongan', new_classification_path, class:'btn btn-default' %>&nbsp;&nbsp;<%= link_to 'Download', structural_allowances_path(@structural_allowances, format:'pdf'), target:'_blank', class:'btn btn-primary' %></h3>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>Golongan</th>
          <th>Satuan</th>
        </tr>
      </thead>

      <tbody>
        <% @classifications.each do |classification| %>
          <tr>
            <td><%= classification.nama %></td>
            <td><%= "#{number_to_currency(classification.satuan, precision:0, unit:'Rp ')}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>


  </div>
</div>
